.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.git/**
.vscode-test.mjs
.vscodeignore
node_modules/**
package-lock.json
grammars/**
source-code-samples/**
wasm/**
temp*/
**/*.vsix
